 <div id ="sideNavContainer" layout="column" >
   <md-sidenav class="md-sidenav-left md-component-id='left'" class="md-sidenav-right md-whiteframe-4dp" md-disable-backdrop id="rightSideNav" md-component-id="left" style="width:'200px'; position: 'fixed';">
   <md-toolbar class="md-theme-indigo">

    </md-toolbar>
    <md-content flex layout-padding>
      <div layout="row" layout-wrap>
        <div>
          <fieldset class = "standard">
            <legend>Manufacturer</legend>

            <div ng-repeat="x in JsonRecord | uniquefilter:'manufacturer'">
              <md-checkbox ng-click="toggle('manufacturer',x.specs.manufacturer)">{{x.specs.manufacturer}}
              </md-checkbox>
            </div>
              </fieldset>
            </div>
          </div>

          <div layout="row" layout-wrap>
            <div>
              <fieldset class = "standard">
                <legend>Storage</legend>
                <div ng-repeat="x in JsonRecord| uniquefilter :'storage' ">
                  <md-checkbox ng-click="toggle('storage',x.specs.storage)">{{x.specs.storage}}
                  </md-checkbox>
                </div>
                  </fieldset>
                </div>
              </div>

              <div layout="row" layout-wrap>
                <div>
                  <fieldset class = "standard">
                    <legend>OS</legend>
                    <div ng-repeat="x in JsonRecord | uniquefilter:'os' ">
                      <md-checkbox ng-click="toggle('os',x.specs.os)">{{x.specs.os}}
                      </md-checkbox>
                    </div>
                      </fieldset>
                    </div>
                  </div>

                  <div layout="row" layout-wrap>
                    <div>
                      <fieldset class = "standard">
                        <legend>Camera</legend>
                        <div ng-repeat="x in JsonRecord|uniquefilter:'camera'">
                          <md-checkbox ng-click="toggle('camera',x.specs.camera)">{{x.specs.camera}}
                          </md-checkbox>
                        </div>
                        </fieldset>
                    </div>
                  </div>
                  <div>
                    <md-button ng-click="toggleSidenav()" class="md-accent">
            Close this Sidenav
          </md-button>

                  </div>
                  <div>
                  <md-button ng-click="toggleLeft()" class="md-raised">
                  Toggle
                  </md-button>
                </div>
</md-content>
    </md-sidenav>

  </div>
